![Python](https://www.python.org/static/community_logos/python-logo-generic.svg)

- Current Version: Python 3.6, 3.7 release end of June
- Interpreted
- Strongly but dynamically typed
- Batteries includes (very feature-rich standard library)
- Lots of third party packages for science

![Python Growth SO](https://stackoverflow.blog/wp-content/uploads/2017/09/growth_major_languages-1-1024x878.png)

### Hello World

In [2]:
print('Hello, World!')

Hello, World!

## Comments

Comments in python by using `#` for a single line or `'''` `'''` for multiline, actually a multiline string object.

In [3]:
# Outputting "Hello, World!" to the terminal is the traditional 
# introduction into a new language
print("Hello, World!")

Hello, World!

Comments should be used appropriately

* Should explain mostly why not what
* Should not explain standard behaviour or functions

## Names, Objects and values

Python is dynamically but strongly typed language, that means:

* Names can refer to values of different types
* All objects have a fixed type

In [7]:
a = 2
b = 3.0
c = "Hello World"

In [8]:
type(a), type(b), type(c)

(int, float, str)

In [9]:
a = a + 5j
type(a)

complex

## Builtin data types

### None

Used as missing value indicator

In [10]:
print(None)

None

Functions which do not return anything return `None`

In [11]:
a = print('test')

test

In [12]:
print(a)

None

### Booleans

`True` and `False`

Logical operators: `and`, `or`, `not`

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
not True

# Truthy and Falsy values

Empty or zero-like python objects behave falsy in comparisons

In [18]:
True or False

True

In [23]:
False and 'Hello'

False

### Numbers

Integers: `42`     
Floats: `3.14`  
Complex: `4.0 + 3.0j`      


Operations

- `+`, `-`, `*` 
- `**` (Power: `2**3` → `8`)
- `/` (`3 / 2` → `1.5`)
- `//` (Integer division: `3 // 2` → `1`)
- `%` (Modullus: `7 % 4` → `3`)

In [30]:
x = 5
y = 3
x + y

8

In [31]:
a = 2 + 4 / 5 + 1
b = (2 + 4) / 5 + 1
c = (2 + 4) / (5 + 1)

In [32]:
a, b, c

(3.8, 2.2, 1.0)

Comparisons 
- `==`, `!=`
- `>`, `<`, `>=`, `<=`

In [33]:
x < y

False

Chaining comparisons

In [34]:
c < b < a

True

In [35]:
c < a < b

False

### Strings

No difference between `'` and `"` → Matter of taste, but stay consistent

In [36]:
foo = 'foo'
bar = "bar"

Concatenate using +

In [40]:
foo + ' ' + bar

'foo bar'

Strings können mit `*` vervielfacht werden

In [41]:
foo * 4

'foofoofoofoo'

Strings können mit `[]` indiziert werden

In [42]:
foo[0]

'f'



### Lists

A mutable collection of python objects

In [43]:
names = ['foo', 'bar']

In [ ]:
names[1]

In [44]:
names.append('baz')
names

['foo', 'bar', 'baz']

Negative indices are counting from the last element

In [45]:
names[-1]

'baz'

Slicing using `:`

In [46]:
names[1:3]

['bar', 'baz']

Concatenation using +

In [47]:
names + ['thing']

['foo', 'bar', 'baz', 'thing']

Extend list by all elements in another iterable

In [48]:
names.extend(['quux', 'stuff'])
names

['foo', 'bar', 'baz', 'quux', 'stuff']

In [49]:
names[1] = 'new'
names

['foo', 'new', 'baz', 'quux', 'stuff']

Check if element is in list:

In [50]:
weekdays = ['Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa', 'So']
'Mo' in weekdays

True

### Tuples

Immutable collection of python objects.

Very powerful packing and unpacking operations.

In [51]:
tup = 5, 3
tup

(5, 3)

In [52]:
a = 5
b = 3
a, b = b, a

In [53]:
print("a =", a)
print("b =", b)

a = 3
b = 5

In [54]:
tup[0]

5

In [55]:
tup[1] = 7

TypeError: 'tuple' object does not support item assignment

### Dictionaries

The classical hash map, ordered by insertion order since Python 3.6, but do not rely on it yet

In [59]:
numbers = {'one': 1, 'two': 2, 'three': 3}
numbers

{'one': 1, 'two': 2, 'three': 3}

In [60]:
numbers['two']

2

## Control flow

### if, elif, else

In [66]:
a = 3

if a == 1:
    print('foo')
elif a == 2:
    print('bar')
else:
    print('baz')

baz

### while

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

# there has to be a better way!


### for

The python for loop works completely different than the one e.g. in `C`, it is 
a `foreach` loop.

In each iteration of the loop, the next value from an iterable is assigned to the
loop variable.

In [67]:
data = [10, 42, -1]

for x in data:
    print(2 * x)

20
84
-2

In [68]:
for i in range(5):
    print(i)

0
1
2
3
4

In [69]:
for i in range(2, 5):
    print(i)

2
3
4

In [70]:
for i in range(10, 3, -1):
    print(i)

10
9
8
7
6
5
4

In [71]:

weekdays

['Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa', 'So']

In [72]:
for day in weekdays:
    print("Today is", day)

Today is Mo
Today is Di
Today is Mi
Today is Do
Today is Fr
Today is Sa
Today is So

# `enumerate` and ` zip`

In [73]:
for i, day in enumerate(weekdays, start=1):
    print(day, " is the ", i, ". Tag der Woche", sep="")

Mo is the 1. Tag der Woche
Di is the 2. Tag der Woche
Mi is the 3. Tag der Woche
Do is the 4. Tag der Woche
Fr is the 5. Tag der Woche
Sa is the 6. Tag der Woche
So is the 7. Tag der Woche

In [74]:
list(enumerate(weekdays))

[(0, 'Mo'), (1, 'Di'), (2, 'Mi'), (3, 'Do'), (4, 'Fr'), (5, 'Sa'), (6, 'So')]

In [75]:
english = ["foot", "ball", "goal"]
german = ["Fuß", "Ball", "Tor"]

for a, b in zip(english, german):
    print(a, b)

foot Fuß
ball Ball
goal Tor

In [76]:
translations = {
    'foot': 'Fuß',
    'ball': 'Ball',
    'goal': 'Tor',
}

for e, g in translations.items():
    print(e, g)

foot Fuß
ball Ball
goal Tor

## Defining functions `def`

In [ ]:
def add(x, y):
    z = x + y
    return z

add(2, 2)

Return multiple values

In [77]:
def divide(x, y):
    return x // y, x % y

n, rest = divide(5, 3)
n, rest

(1, 2)

Recursive functions

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

factorial(4)

## String formatting

## f-strings, since python 3.6

In [78]:
first_value = 42
second_value = 0

print(f"Erster Wert: {first_value}, Zweiter Wert: {second_value}")

Erster Wert: 42, Zweiter Wert: 0

In [79]:
result = 3.2291421

print(f'Das Ergebnis ist {result:.2f}')

Das Ergebnis ist 3.23

## str.format

In [80]:
first_value = 42
second_value = 0

'Erster Wert: {}, Zweiter Wert: {}'.format(first_value, second_value)

'Erster Wert: 42, Zweiter Wert: 0'

In [81]:
'Das Ergebnis ist {result:.2f} und damit kleiner als {four}'.format(
    result=3.2291421, four=4
)

'Das Ergebnis ist 3.23 und damit kleiner als 4'

## Comprehensions

Efficient ways to create lists, dicts and sets

In [82]:
# Ursprüngliche Liste
list(range(5))

[0, 1, 2, 3, 4]

In [83]:
# List-Comprehension
[2 * x for x in range(5)]

[0, 2, 4, 6, 8]

In [84]:
# Dict-Comprehension
{num + 1: name for num, name in enumerate(weekdays)}

{1: 'Mo', 2: 'Di', 3: 'Mi', 4: 'Do', 5: 'Fr', 6: 'Sa', 7: 'So'}

In [86]:
# List-Comprehension with filter
[x for x in range(10) if x % 3 == 0]

[0, 3, 6, 9]